.title-card {
  padding-top: 50px;
  padding-left: 30px;
  padding-bottom: 50px;
  font-size: 32px;
}

.card-content {
  display: flex;
  flex-flow: row wrap; /*Une dos propiedades flex-direction y flex-wrap*/
  justify-content: center;
  column-gap: 35px;
  row-gap: 35px;
}

.card-main {
  background-color: #f5f3f3;
}

.cards-marcas{
  width: 340px;
  height: 408px;
}

.img-gasolinera {
  width: 340px;
  height: 221px;
}

.nombre-seleccionar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 46px;
}

.seleccionar-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nombre-marca{
  padding-top: 39px;
  font-size: 24px;
}


@media screen and (max-width: 768px) {

  .title-card {
    font-size: 25px;
  }

  .cards-marcas{
    width: 250px;
    height: 350px;
  }

  .img-gasolinera {
    width: 250px;
    height: 221px;
  }

  .nombre-seleccionar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
  }

  .nombre-marca{
    padding-top: 20px;
    font-size: 24px;
  }

}
